<html th:replace="~{fragments/layout :: layout (~{::body},'students')}">

<body>

  <h1>Student</h1>
  <form th:object="${student}"} method="post">
    <div>
        <label>StudentId </label><input th:field="*{studentId}" size="30" maxlength="80" readonly="true"/>
        <label>Name </label><input th:field="*{name}" size="30" maxlength="80" />
        <label>Sex </label><input th:field="*{sex}" size="30" maxlength="80" />
        <label>Birthday </label><input th:field="*{birthday}" size="30" maxlength="80" />
        <label>NativePlace </label> </label><input th:field="*{nativePlace}" size="30" maxlength="80" />
        <label>Department </label><input th:field="*{department}" size="30" maxlength="80" />
    </div>
    
    <div>
        <button type="submit">Modify Student</button>
    </div>
    
  </form>
</body>

</html>
