<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'students')}">

<body>
  <h1>StudentsList</h1>

  <table>
    <thead>
      <tr>
        <th>StudentId</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Birthday</th>
        <th>NativePlace</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="student : ${students}">
        <td><a th:text="${student.studentId}" th:href="@{/students/{studentId}(studentId=${student.studentId})}" method="get"></a></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.sex}"></td>
        <td th:text="${student.birthday}"></td>
        <td th:text="${student.nativePlace}"></td>
        <td th:text="${student.department}"></td>
      </tr>
    </tbody>
  </table>
</body>

</html>
